@use "../colors.module.scss";

.header {
	//height: 5rem;
	padding: 2rem 0;
	//display: flex;
	//align-items: center;
}

.header__container {
	//display: flex;
	//justify-content: space-between;
	//width: 100%;
	//align-items: center;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 2fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.header__logo {
	align-self: center;
}

.header__theme {
	color: colors.$primary-light-gray;
	background-color: colors.$secondary-black;
	justify-self: end;
	align-self: center;
	padding: 0.5rem 0.5rem;
	border-radius: 100%;
	width: 2.5rem;
	height: 2.5rem;

	&:hover {
		cursor: pointer;
		background: #1b1b1b;
		border-radius: 100%;
	}
}

[data-theme="light"] {
	.header__theme {
		color: colors.$primary-black;
		background-color: colors.$secondary-white;

		&:hover {
			background: #f3f3f3;
		}
	}
}
