@use "../colors.module.scss";

.content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	gap: 2rem;
	margin-bottom: 2.5rem;
}

.img__block {
	position: relative;
	overflow: hidden;
	height: auto;
	width: auto;
	max-width: 24.5rem;

	img {
		height: 16.24rem;
		width: 100%;
		object-fit: cover;
	}

	&:hover img {
		transform: scale(1.05);
		transition: transform 0.5s;
	}

	&:hover .img__header__title {
		transform: translateY(2rem);
		opacity: 0;
		border-left: none;
	}

	&:hover .img__header__titlehover {
		opacity: 1;
		transform: translate(0);
	}
}

.img__header {
	overflow: hidden;
	position: absolute;
	background-color: colors.$primary-black;
	display: flex;
	align-items: center;
	width: 18.75rem;
	height: 4.125rem;
	bottom: 0;
	left: 0;
}

.img__header__titlehover {
	position: absolute;
	opacity: 0;
	transform: translateX(-2rem);
}

.img__header__title,
.img__header__titlehover {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-left: 0.125rem solid colors.$accent-gold;
	padding: 0 1.25rem;
	height: 42px;
}

.img__header__title p:first-child,
.img__header__titlehover p:first-child {
	color: colors.$primary-light-gray;
	font-size: 1rem;
	margin: 0;
	text-transform: uppercase;

	font-family: "Cormorant", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.img__header__title p:last-child,
.img__header__titlehover p:last-child {
	color: colors.$accent-gold;
	font-size: 0.75rem;
	margin: 0;
	text-transform: uppercase;

	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

[data-theme="light"] {
	.img__header {
		background-color: colors.$primary-white;
	}

	.img__header__title,
	.img__header__titlehover {
		border-left: 0.125rem solid colors.$accent-red;
	}
	.img__header__title p:first-child,
	.img__header__titlehover p:first-child {
		color: colors.$primary-black;
	}

	.img__header__title p:last-child,
	.img__header__titlehover p:last-child {
		color: colors.$accent-red;
	}
}
