$primary-black: #121212;
$primary-white: #ffffff;
$primary-light-gray: #dedede;
$primary-dark-gray: #575757;

$secondary-white: #fcfcfc;
$secondary-black: #1a1818;
$secondary-gray: #9c9c9c9c;

$accent-red: #9b4b4b;
$accent-gold: #ab8956;
